* {
    color: #F8F9FA;
    font-family: sans-serif;
}

body {
    background-color: #1B1F22;
}

table {
    background-color: #343A40;
    border: 2px solid #6C757D;
}

th {
    background-color: #6C757D;
}

select {
    background-color: #495057;
    outline: none;
    border: none;
    /* custom dropdown button? */
    /* appearance: none; */
}

button {
    background-color: #6C757D;
    border: none;
}

.col-box tr:nth-child(odd) {
    background-color: #495057;
}
